{{>header}}


<div class="outer-title">
    <div class="inner-title">
        <ul class="list rotate">
            <li class="item">Enter Narnia</li>
        </ul></div>
</div>

<div class="dataTables mx-auto my-5">

    <!--    Narnia table:-->
    <h3>Current visitors in Narnia:</h3>
    <table id="narniaTable" class="display mx-auto">
    </table>

    <!--    Enter/leave buttons: -->
    <button id="enterNarnia" class="btn btn-success btn-lg mt-4 mx-1">Enter Narnia!</button>
    <button id="exitNarnia" class="btn btn-danger btn-lg mt-4 mx-1">Leave Narnia.</button>
    <div class="container m-3" id="responseText"></div>
    <hr>
    <!--    Visitor table: -->
    <h3>List of registered visitors:</h3>
    <table id="visitorTable" class="display mx-auto">
    </table>

<!--    <button id="fetchNarniaTable" class="btn btn-outline-primary mt-4">Refresh Narnia data</button>-->

</div>






{{>footer}}